<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">

</head>
<body>
<!--导航开始-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadown-small">

    <div class="ui container">
        <div class="ui inverted secondary stackable menu">

            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>列表</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>测试</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>测试</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>测试</a>

        </div>
    </div>


</nav>

<!--导航结束-->
<!--主体内容开始-->
<div class="ui m-container">
    <form action="/input" th:action="@{/input}" th:object="${apps}" method="post">

        <table class="ui celled table center-aligned" id="table-container">
            <thead>
            <tr>
                <th>序号</th>

                <!--<th>ID</th>-->
                <!--<th>考核周期</th>-->
                <!--<th>被考核单位</th>-->
                <!--<th>考核项目</th>-->

                <th>标准</th>
                <th>周期</th>
                <th>单位</th>
                <th>目标值</th>

                <th>实际值</th>
                <th>考核结果</th>
                <th>考核单位</th>
                <th>操作符</th>

                <!--<th>备注</th>-->
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="appraisal,iterStat:${apps}">
                <td th:text="${iterStat.count}">1</td>

                <!--<td ><input class="ui input" type="text"  th:value="${appraisal.id}" style="width: 18px;"></td>-->
                <!--<td ><input class="ui input" type="text"  th:value="${appraisal.kaohezhouqi}" style="width: 30px;"></td>-->
                <!--<td ><input class="ui disabled input" type="text"  th:value="${appraisal.beikaohedanwei}" style="width: 60px;" disabled="disabled"></td>-->
                <!--<td ><input type="text"  th:value="${appraisal.kaohexiangmu}" style="width: 60px;"></td>-->

                <td ><input type="text" th:name="${apps[__${iterStat.index}__].biaozhun}" th:value="${appraisal.biaozhun}" style="width: 40px;"></td>
                <td ><input type="text" th:name="${apps[__${iterStat.index}__].zhouqi}" th:value="${appraisal.zhouqi}" style="width: 40px;"></td>
                <td ><input type="text" th:name="${apps[__${iterStat.index}__].danwei}" th:value="${appraisal.danwei}" style="width: 40px;"></td>
                <td ><input type="text" th:name="${apps[__${iterStat.index}__].mubiaozhi}" th:value="${appraisal.mubiaozhi}" style="width: 60px;"></td>

                <td ><input type="text" th:name="${apps[__${iterStat.index}__].shijishi}" th:value="${appraisal.shijishi}" style="width: 60px;"></td>
                <td ><input type="text" th:name="${apps[__${iterStat.index}__].kaohejieguo}" th:value="${appraisal.kaohejieguo}" style="width: 60px;"></td>
                <td ><input type="text" th:name="${apps[__${iterStat.index}__].kaohedanwei}" th:value="${appraisal.kaohedanwei}" style="width: 60px;"></td>
                <td ><input type="text" th:name="${apps[__${iterStat.index}__].caozuofu}" th:value="${appraisal.caozuofu}" style="width: 100px;"></td>

                <!--<td ><input type="text"  th:value="${appraisal.beizhu}" style="width: 60px;"></td>-->

                <td>
                    <a href="#"  class="ui mini teal basic button m-padded-mini" style="width: 50px;">编辑</a>

                </td>

            </tr>



            </tbody>
        </table>
        <button type="submit" class="ui positive basic button">提交</button>

    </form>
</div>
</body>
<!--jQuery js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--semantic ui js-->
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>

</script>
</html>