<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">

</head>
<body>
<!--导航开始-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadown-small">

    <div class="ui container">
        <div class="ui inverted secondary stackable menu">

            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>列表</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>测试</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>测试</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>测试</a>

        </div>
    </div>


</nav>
<br>

<!--导航结束-->
<!--主体内容开始-->
<div class="ui m-container">
        <a class="ui inverted violet button" th:href="@{/exportalllist}">下载</a>

        <table class="ui celled green table center-aligned" id="table-container">
            <thead>
            <tr class="center aligned">
                <th>序号</th>
                <th>月份</th>
                <th>被考核单位</th>
                <th>考核项目</th>

                <th>标准</th>
                <th>周期</th>
                <th>单位</th>
                <th>目标值</th>

                <th>实际值</th>
                <th>考核结果</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a,rowStat:${list}" class="center aligned" th:classappend="${a.kaohejieguo <0} ? 'negative':(${a.kaohejieguo >0} ?'positive')" >
                <td th:text="${rowStat.count}" style="width: 55px">1</td>
                <td th:text="${a.kaoheyuefen}" style="width: 55px"></td>
                <td th:text="${a.beikaohedanwei}" style="width: 115px"></td>
                <td th:text="${a.kaohexiangmu}" style="width: 165px"></td>

                <td th:text="${a.biaozhun}" style="width: 85px"></td>
                <td th:text="${a.zhouqi}" style="width: 85px"></td>
                <td th:text="${a.danwei}" style="width: 85px"></td>
                <td th:text="${a.mubiaozhi}" style="width: 115px"></td>

                <td th:text="${a.shijishi}" style="width: 115px"></td>
                <td th:text="${a.kaohejieguo}" style="width: 125px"></td>
                <td th:text="${a.beizhu}" style="width: 175px"></td>
                <td>
                    <a href="#" th:href="@{/update/{id}(id=${a.id})}" class="ui mini orange inverted button m-padded" style="width: 85px;">编辑</a>

                </td>
            </tr>

            </tbody>
        </table>

</div>




</body>
<!--jQuery js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--semantic ui js-->
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--layui js-->
<script src="/layui/layui.js" charset="utf-8"></script>

<script type="text/javascript">
    function exportalllist() {
        var url = "exportalllist";
        window.open(url);
    };
</script>
</html>